<!DOCTYPE html>
<html>
    <head>
        <title>Download page</title>
        <meta charset="utf-8" />
    </head>
    <body>
        {{> header}}
        Download link : <a href="{{link}}">::!CLICK ME!::</a>
        {{> footer}}
    </body>
</html>